<%- include('header'); -%>
<h1>Products</h1>
</*%= products %*/>
<% for(let index =0; index < products.length; index++){ %> 
    <h5 style="color: red;">
    <%= products[index].title %>
</h5>
<img src="<%= products[index].thumbnail %>" alt="">
<% } %>
<%- include('footer'); -%>





